html
    head
        if user
            title Hello #{username}!
        else
            title Hello, Stranger!
    body
        div#app
        //- <!--
        //-     block bodyContents
        //- -->
        script(src="/dist.js")