html
    head
        if user
            title Hello #{username}!
        else
            title Hello, Stranger!
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body
        div#app
        block bodyContents
        script(src="/app.js")